@import url('https://fonts.googleapis.com/css2?family=Angkor&family=Lexend:wght@100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-container{
    height: 100vh;
    background-image: url('./assets/burger3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Lexend", sans-serif;
    font-weight: 400;
    color: #FFF;
}

.left-section, .right-section{
    border-radius: 10px;
    box-shadow: 1px 1px 5px #000;
    background-color: #0000002c;
    padding: 20px;
}


/* LEFT SECTION */ 
.section__title, .left-section__presentation, .form-district__title, .form-delivery__title, .form-delivery__options{
    text-shadow: 1px 1px 5px #000;
} 

.left-section__presentation, .left-section__form, select, button{
    font-size: 1.5rem;
}

.left-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 70%;
    width: 30%;
}

.section__title{
    font-size: 2rem;
    text-transform: uppercase;
}

/* FORMULAIRE */
.left-section__form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.form-district, .form-delivery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.form-district{
    margin: 20px 0;
}

.form-delivery{
    margin: 0 0 10px 0;
}

.form-delivery__title, .form-district__title{
    margin: 10px 0;
}

select, button{
    cursor: pointer;
    background-color: #FFF;
    border-radius: 5px;
    padding: 10px;
    border: 2px solid #191923;
}

/* RIGHT SECTION */


.right-section{
    height: 80%;
    width: 50%;
    overflow-y: scroll;
}


.right-section__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.result-element{
    background-color: #ffffffe1;
    color: #000;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #000;
    margin: 20px 0;
    transition: 0.2s;
}

.result-element:hover{
    scale: 1.01;
}

.result-element--hidden {
    display: none;
  }
.result-element__description{
    margin: 0 100px;
}

.result-element__description ul{
    list-style-type: none;
}

.result-element__description li{
margin: 15px 0 ;
}

.result-element__image{
    height: 200px;
    width: 200px;
}

.result-element__image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.message{
    position: absolute;
    top: 200px;
    font-size: 1.5rem;
    text-shadow: 1px 1px 1px #000
}